# registry=http://192.168.5.124:14873/
# registry=https://registry.npm.taobao.org/
@ursalink-cloud/core-sdk:registry=http://192.168.5.124:14873/
# registry=https://registry.npmjs.org/:_authToken=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

